.footer__links-services {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .footer__links-services {
        display: grid;
        gap: 32px;
        margin: 0;
    }
}