.cover__title {
    font-style: normal;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 245px 312px 0;
    position: absolute;
    z-index: 2;
}